* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  background-color: rgb(182, 177, 178);
  font-family: "Sofia Sans", sans-serif;
  font-size: 19px;
  overflow-y: hidden;
}

.layout {
  display: flex;
}

/* sidebar */

.sidebar {
  width: 20%;
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.sidebar .close-btn {
  position: absolute;
  top: 1%;
  left: 14%;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: black;
  transition: opacity 0.3s ease;
}

.sidebar .close-btn:hover {
  opacity: 50%;
}

/* profile */

.logo-image {
  display: flex;
  align-items: center;
  margin: 5%;
  flex-shrink: 0;
}

.logo-image img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: 1px solid black;
}

/* navbar */

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-top: 8%;
  margin-left: 8%;
  font-size: 22px;
  transition: margin 0.3s ease;
}

ul li {
  list-style: none;
}

.nav-link .nav-text {
  margin-left: 7%;
  transition: opacity 0.2s ease-in 0.1;
  white-space: nowrap; /* Prevents text from wrapping during animation */
  opacity: 1; /* Visible by default */
}

.sidebar-items a:hover {
  opacity: 50%;
}

/* .fa-solid.fa-house,
.fa-solid.fa-circle-user,
.fa-shirt,
.fa-solid.fa-folder-open,
.fa-solid.fa-envelope {
  margin-right: 5%;
} */

/* main content */

main {
   flex: 1;
  padding-left: 2%; /* Add some padding */
  transition: margin-left 0.3s ease; /* Animate the margin change */
}

.open-btn {
  margin: 1.25%;
  font-size: 30px;
  border: none;
  padding:0;
  background: none;
  cursor: pointer;
}

h2, p {
  margin-left: 5%;
  margin-top: 2%;
}

/* When sidebar is collapsed, shrink its width */
.sidebar.collapsed {
  width: 6%;
}

.sidebar.collapsed .nav-text,
.sidebar.collapsed .close-btn {
  display: none;
  pointer-events: none;
  transition: opacity 0.1s ease-out;
}

.sidebar.collapsed .logo-image {
  justify-content: center; /* This centers the profile picture horizontally */
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}

.sidebar.collapsed .nav-link {
  justify-content: center;
}
